
@{
    ViewBag.Title = "Uploader";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<head>
    <script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

    <style>
        .dz-upload { 
            display: block; 
            background-color: #0275d8; 
            height: 20px;
            width: 0%;
            border-radius: 25px;
        }
    </style>
</head>

<h2>
    <english> Uploader</english>
    <arabic class="d-none">رفع ملف</arabic>
</h2>
@if(ViewContext.HttpContext.User.IsInRole("AccountManager"))
{
    @using (Html.BeginForm("ClearDatabase", "Uploader", FormMethod.Post, new { @class = "text-center mb-5" }))
    {
         <input class="btn btn-danger" type="submit" value="Clear Database"/>
    }
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">  
                <h4 class="card-title">
                        <english>IFC File Upload Form</english>
                        <arabic class="d-none">رفع ملف IFC</arabic>
                </h4>
                <div>
                    @using (Html.BeginForm("Index", "Uploader", FormMethod.Post, new { @name = "myDropzone",  id = "myDropzone", @enctype = "multipart/form-data" }))
                    {
                        <div>
                            <div id="previews" class="dz-default dz-message box__input dropzone">
                                <div class="text-center p-5">
                                    <div class="mb-3">
                                        <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                    </div>
                                    <h4> <english>Drop IFC file here or click to upload.</english>
                                         <arabic class="d-none">اضغط لرفع ملفIFC</arabic>
                                    </h4>
                                </div>
                            </div>
                            <div class="text-center" id="previewFiles"></div>
                        </div>
                            <div class="text-center mt-4">
                            <button id="submitButton" class="btn btn-primary waves-effect waves-light" type="submit">
                                <english>Submit</english>
                                <arabic class="d-none">إرسال</arabic>
                            </button>
                            <button id="loadingButton" class="d-none btn btn-primary" type="button" disabled>
                                <arabic class="d-none">جار التحميل...</arabic>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <english>Loading...</english>
                            </button>
                            <span>@ViewBag.Message</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>

<script>
    Dropzone.autoDiscover = false;

    $(document).ready(function () {
        $('#myDropzone').dropzone({
           //parameter name value
            paramName: "file",
            //clickable div id
            clickable: '#previews',
            showTimer: true,
           //preview files container Id
            previewsContainer: "#previewFiles",
            autoProcessQueue: false,
            uploadMultiple: false,
            timeout: null,
            parallelUploads: 1,
            maxFiles: 1,
            //url: "#",
            addRemoveLinks: true,
            dictResponseError: 'Server not Configured',
            acceptedFiles: ".ifc",// use this to restrict file type
            init: function () {
                var self = this;
                // config
                self.options.addRemoveLinks = true;
                self.options.dictRemoveFile = "Delete";
                //New file added
                self.on("addedfile", function (file) {
                    console.log('new file added ', file);
                    $('.dz-success-mark').hide();
                    $('.dz-error-mark').hide();
                });
                // Send file starts
                self.on("sending", function (file) {
                    console.log('upload started', file);
                    $('.meter').show();
                });

                var isUploading = false;
                // File upload Progress
                self.on("totaluploadprogress", function (progress) {
                    console.log("progress ", progress);
                    $('.roller').width(progress + '%');
                    $('.dz-upload')[0].innerText = progress.toPrecision(4) + '%';
                    if (progress == 100 && isUploading == false) {
                        isUploading = true;
                        $('.dz-upload, .dz-remove').fadeOut(500)
                        var newElement = '<i class="fas fa-check"></i><p id="uploadP"><english>Upload Complete!</english><arabic class="d-none">التحميل اكتمل!</arabic></p>';
                        var newMessage = '<p><english>Extracting Geometry and Populating Database<br>Please Wait</p></english><arabic class="d-none">استخراج البيانات الهندسية وتعبئة قاعدة البيانات <br> برجاء الانتظار</arabic>'
                        $(newElement).hide().insertAfter('.dz-upload').fadeIn(700);
                        $(newMessage).hide().insertAfter('#uploadP').fadeIn(700);
                    }
                    checkLanguage();
                });

                this.on("maxfilesexceeded", function(file){
                    alert("Only one file is allowed");
                    this.removeFile(file);
                });

                $('#submitButton').on("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                      // Validate form here if needed
                    if (self.getQueuedFiles().length > 0) {
                        $('#submitButton')[0].classList.add("d-none")
                        $('#loadingButton')[0].classList.remove("d-none")
                        self.processQueue();
                    } else {
                        self.uploadFiles([]);
                        $('#myDropzone').submit();
                    }
                });

                this.on("success", function() {
                    window.location = "../Viewer/ViewerAsOwner"
                });
            }
        });
    })

    function checkLanguage() {
        if (localStorage.getItem('language') == "arabic")
        {
            var english = $('english');
            var arabic = $('arabic');
            $(english).each(function () {
                $(this).addClass("d-none")
            });
            $(arabic).each(function () {
                $(this).removeClass("d-none")
            });
        }
    }
</script>