@model API.Models.Floor

@{
    ViewData["Title"] = "Floors Details";
}

<h1>
    <english> Floor Details</english>
    <arabic class="d-none">تفاصيل الطابق </arabic>
</h1>

<div>
@*    <h4>
         <english> Floor </english>
         <arabic class="d-none">الطوابق</arabic>
    </h4>*@
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            <english> @Html.DisplayNameFor(model => model.Id) </english>
            <arabic class="d-none">كود الطابق </arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            <english> @Html.DisplayNameFor(model => model.FloorName) </english>
            <arabic class="d-none">اسم الطابق </arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">
        <english>Back to List</english>
        <arabic class="d-none">العودة إلى القائمة </arabic>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}