<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);">Our Views</a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Uploader">Uploader</a></li>
                        <li><a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Viewer">Viewer</a></li>
                        <li><a class="nav-link text-secondary " asp-area="" asp-controller="Chart" asp-action="Chartjs">Report</a></li>
                        <li><a class="nav-link text-secondary " asp-area="" asp-controller="Incident" asp-action="Index">Incidents</a></li>


                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">04</span>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Index", "Dashboard") key="t-default">Default</a></li>
                        <li><a href=@Url.Action("DashboardSaas", "Dashboard") key="t-saas">Saas</a></li>
                        <li><a href=@Url.Action("DashboardCrypto", "Dashboard") key="t-crypto">Crypto</a></li>
                        <li><a href=@Url.Action("DashboardBlog", "Dashboard") key="t-blog">Blog</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href=@Url.Action("LayoutsLightSidebar", "Layouts")  key="t-light-sidebar">Light Sidebar</a></li>
                                <li><a href=@Url.Action("LayoutCompactSidebar", "Layouts")  key="t-compact-sidebar">Compact Sidebar</a></li>
                                <li><a href=@Url.Action("LayoutsIconSidebar", "Layouts")  key="t-icon-sidebar">Icon Sidebar</a></li>
                                <li><a href=@Url.Action("LayoutBoxed", "Layouts")  key="t-boxed-width">Boxed Width</a></li>
                                <li><a href=@Url.Action("LayoutPreloader", "Layouts")  key="t-preloader">Preloader</a></li>
                                <li><a href=@Url.Action("LayoutColoredSidebar", "Layouts")  key="t-colored-sidebar">Colored Sidebar</a></li>
                                <li><a href=@Url.Action("LayoutScrollable", "Layouts")  key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href=@Url.Action("LayoutHorizontal", "Layouts") key="t-horizontal">Horizontal</a></li>
                                <li><a href=@Url.Action("LayoutsHoriTopbarLight", "Layouts") key="t-topbar-light">Topbar light</a></li>
                                <li><a href=@Url.Action("LayoutHoriBoxedWidth", "Layouts") key="t-boxed-width">Boxed width</a></li>
                                <li><a href=@Url.Action("LayoutHoriPreloader", "Layouts") key="t-preloader">Preloader</a></li>
                                <li><a href=@Url.Action("LayoutHoriColoredHeader", "Layouts") key="t-colored-topbar">Colored Header</a></li>
                                <li><a href=@Url.Action("LayoutsHoriScrollable", "Layouts") key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps">Apps</li>

                <li>
                    <a href=@Url.Action("Index", "Calendar") class="waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar">Calendar</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "Chat") class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Chat</span>
                    </a>
                </li>

                <li>
                    <a href=@Url.Action("Index", "FileManager") class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span class="badge badge-pill badge-success float-right" key="t-new">New</span>
                        <span key="t-file-manager">File Manager</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce">Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("EcommerceProduct", "Ecommerce") key="t-products">Products</a></li>
                        <li><a href=@Url.Action("EcommerceProductDetail", "Ecommerce") key="t-product-detail">Product Detail</a></li>
                        <li><a href=@Url.Action("EcommerceOrders", "Ecommerce") key="t-orders">Orders</a></li>
                        <li><a href=@Url.Action("EcommerceCustomers", "Ecommerce") key="t-customers">Customers</a></li>
                        <li><a href=@Url.Action("EcommerceCart", "Ecommerce") key="t-cart">Cart</a></li>
                        <li><a href=@Url.Action("EcommerceCheckout", "Ecommerce") key="t-checkout">Checkout</a></li>
                        <li><a href=@Url.Action("EcommerceShops", "Ecommerce") key="t-shops">Shops</a></li>
                        <li><a href=@Url.Action("EcommerceAddProduct", "Ecommerce") key="t-add-product">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bitcoin"></i>
                        <span key="t-crypto">Crypto</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("CryptoWallet", "Crypto") key="t-wallet">Wallet</a></li>
                        <li><a href=@Url.Action("CryptoBuySell", "Crypto") key="t-buy">Buy/Sell</a></li>
                        <li><a href=@Url.Action("CryptoExchange", "Crypto") key="t-exchange">Exchange</a></li>
                        <li><a href=@Url.Action("CryptoLanding", "Crypto") key="t-lending">Lending</a></li>
                        <li><a href=@Url.Action("CryptoOrders", "Crypto") key="t-orders">Orders</a></li>
                        <li><a href=@Url.Action("CryptoKycApplication", "Crypto") key="t-kyc">KYC Application</a></li>
                        <li><a href=@Url.Action("CryptoIcoLanding", "Crypto") key="t-ico">ICO Landing</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span key="t-email">Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("EmailInbox", "Email") key="t-inbox">Inbox</a></li>
                        <li><a href=@Url.Action("EmailRead", "Email") key="t-read-email">Read Email</a></li>
                        <li>
                            <a href="javascript: void(0);">
                                <span class="badge badge-pill badge-success float-right" key="t-new">New</span>
                                <span key="t-email-templates">Templates</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href=@Url.Action("EmailTemplateBasic", "Email") key="t-basic-action">Basic Action</a></li>
                                <li><a href=@Url.Action("EmailTemplateAlert", "Email") key="t-alert-email">Alert Email</a></li>
                                <li><a href=@Url.Action("EmailTemplateBilling", "Email") key="t-bill-email">Billing Email</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span key="t-invoices">Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("List", "Invoices") key="t-invoice-list">Invoice List</a></li>
                        <li><a href=@Url.Action("Detail", "Invoices") key="t-invoice-detail">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects">Projects</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("ProjectGrid", "Projects") key="t-p-grid">Projects Grid</a></li>
                        <li><a href=@Url.Action("ProjectList", "Projects") key="t-p-list">Projects List</a></li>
                        <li><a href=@Url.Action("ProjectOverview", "Projects") key="t-p-overview">Project Overview</a></li>
                        <li><a href=@Url.Action("ProjectCreate", "Projects") key="t-create-new">Create New</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span key="t-tasks">Tasks</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("TaskList", "Tasks") key="t-task-list">Task List</a></li>
                        <li><a href=@Url.Action("TaskKanban", "Tasks") key="t-kanban-board">Kanban Board</a></li>
                        <li><a href=@Url.Action("TaskCreate", "Tasks") key="t-create-task">Create Task</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts">Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("ContactsGrid", "Contacts") key="t-user-grid">User Grid</a></li>
                        <li><a href=@Url.Action("ContactsList", "Contacts") key="t-user-list">User List</a></li>
                        <li><a href=@Url.Action("ContactsProfile", "Contacts") key="t-profile">Profile</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge badge-pill badge-success float-right" key="t-new">New</span>
                        <i class="bx bx-detail"></i>
                        <span key="t-blog">Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("List", "Blog") key="t-blog-list">Blog List</a></li>
                        <li><a href=@Url.Action("Grid", "Blog") key="t-blog-grid">Blog Grid</a></li>
                        <li><a href=@Url.Action("Details", "Blog") key="t-blog-details">Blog Details</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge badge-pill badge-success float-right" key="t-new">New</span>
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication">Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Login", "Auth") key="t-login">Login</a></li>
                        <li><a href=@Url.Action("Login2", "Auth") key="t-login-2">Login 2</a></li>
                        <li><a href=@Url.Action("Register", "Auth") key="t-register">Register</a></li>
                        <li><a href=@Url.Action("Register2", "Auth") key="t-register-2">Register 2</a></li>
                        <li><a href=@Url.Action("Recoverpw", "Auth") key="t-recover-password">Recover Password</a></li>
                        <li><a href=@Url.Action("Recoverpw2", "Auth") key="t-recover-password-2">Recover Password 2</a></li>
                        <li><a href=@Url.Action("LockScreen", "Auth") key="t-lock-screen">Lock Screen</a></li>
                        <li><a href=@Url.Action("LockScreen2", "Auth") key="t-lock-screen-2">Lock Screen 2</a></li>
                        <li><a href=@Url.Action("ConfirmMail", "Auth") key="t-confirm-mail">Confirm Mail</a></li>
                        <li><a href=@Url.Action("ConfirmMail2", "Auth") key="t-confirm-mail-2">Confirm Mail 2</a></li>
                        <li><a href=@Url.Action("EmailVerification", "Auth") key="t-email-verification">Email verification</a></li>
                        <li><a href=@Url.Action("EmailVerification2", "Auth") key="t-email-verification-2">Email verification 2</a></li>
                        <li><a href=@Url.Action("TwoStepVerification", "Auth") key="t-two-step-verification">Two step verification</a></li>
                        <li><a href=@Url.Action("TwoStepVerification2", "Auth") key="t-two-step-verification-2">Two step verification 2</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility">Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("PageStarter", "Pages") key="t-starter-page">Starter Page</a></li>
                        <li><a href=@Url.Action("PageMaintenance", "Pages") key="t-maintenance">Maintenance</a></li>
                        <li><a href=@Url.Action("PageComingsoon", "Pages") key="t-coming-soon">Coming Soon</a></li>
                        <li><a href=@Url.Action("PageTimeline", "Pages") key="t-timeline">Timeline</a></li>
                        <li><a href=@Url.Action("PageFaqs", "Pages") key="t-faqs">FAQs</a></li>
                        <li><a href=@Url.Action("PagePricing", "Pages") key="t-pricing">Pricing</a></li>
                        <li><a href=@Url.Action("Page404", "Pages") key="t-error-404">Error 404</a></li>
                        <li><a href=@Url.Action("Page500", "Pages") key="t-error-500">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-components">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements">UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Alerts", "UI") key="t-alerts">Alerts</a></li>
                        <li><a href=@Url.Action("Buttons", "UI") key="t-buttons">Buttons</a></li>
                        <li><a href=@Url.Action("Cards", "UI") key="t-cards">Cards</a></li>
                        <li><a href=@Url.Action("Carousel", "UI") key="t-carousel">Carousel</a></li>
                        <li><a href=@Url.Action("Dropdowns", "UI") key="t-dropdowns">Dropdowns</a></li>
                        <li><a href=@Url.Action("Grid", "UI") key="t-grid">Grid</a></li>
                        <li><a href=@Url.Action("Images", "UI") key="t-images">Images</a></li>
                        <li><a href=@Url.Action("Lightbox", "UI") key="t-lightbox">Lightbox</a></li>
                        <li><a href=@Url.Action("Modals", "UI") key="t-modals">Modals</a></li>
                        <li><a href=@Url.Action("Rangeslider", "UI") key="t-range-slider">Range Slider</a></li>
                        <li><a href=@Url.Action("SessionTimeout", "UI") key="t-session-timeout">Session Timeout</a></li>
                        <li><a href=@Url.Action("Progressbars", "UI") key="t-progress-bars">Progress Bars</a></li>
                        <li><a href=@Url.Action("SweetAlert", "UI") key="t-sweet-alert">Sweet-Alert</a></li>
                        <li><a href=@Url.Action("TabsAccordions", "UI") key="t-tabs-accordions">Tabs & Accordions</a></li>
                        <li><a href=@Url.Action("Typography", "UI") key="t-typography">Typography</a></li>
                        <li><a href=@Url.Action("Video", "UI") key="t-video">Video</a></li>
                        <li><a href=@Url.Action("General", "UI") key="t-general">General</a></li>
                        <li><a href=@Url.Action("Colors", "UI") key="t-colors">Colors</a></li>
                        <li><a href=@Url.Action("Rating", "UI") key="t-rating">Rating</a></li>
                        <li><a href=@Url.Action("Notifications", "UI") key="t-notifications">Notifications</a></li>
                        <li><a href=@Url.Action("ImageCropper", "UI") key="t-image-cropper">Image Cropper</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bxs-eraser"></i>
                        <span class="badge badge-pill badge-danger float-right">10</span>
                        <span key="t-forms">Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("FormElements", "Form") key="t-form-elements">Form Elements</a></li>
                        <li><a href=@Url.Action("FormLayouts", "Form") key="t-form-layouts">Form Layouts</a></li>
                        <li><a href=@Url.Action("FormValidation", "Form") key="t-form-validation">Form Validation</a></li>
                        <li><a href=@Url.Action("FormAdvanced", "Form") key="t-form-advanced">Form Advanced</a></li>
                        <li><a href=@Url.Action("FormEditors", "Form") key="t-form-editors">Form Editors</a></li>
                        <li><a href=@Url.Action("FormUploads", "Form") key="t-form-upload">Form File Upload</a></li>
                        <li><a href=@Url.Action("FormXeditable", "Form") key="t-form-xeditable">Form Xeditable</a></li>
                        <li><a href=@Url.Action("FormRepeater", "Form") key="t-form-repeater">Form Repeater</a></li>
                        <li><a href=@Url.Action("FormWizard", "Form") key="t-form-wizard">Form Wizard</a></li>
                        <li><a href=@Url.Action("FormMak", "Form") key="t-form-mask">Form Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span key="t-tables">Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("TableBasic", "Tables") key="t-basic-tables">Basic Tables</a></li>
                        <li><a href=@Url.Action("TableDatatable", "Tables") key="t-data-tables">Data Tables</a></li>
                        <li><a href=@Url.Action("TableResponsive", "Tables") key="t-responsive-table">Responsive Table</a></li>
                        <li><a href=@Url.Action("TableEditable", "Tables") key="t-editable-table">Editable Table</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-bar-chart-alt-2"></i>
                        <span key="t-charts">Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("Apex", "Chart") key="t-apex-charts">Apex charts</a></li>
                        <li><a href=@Url.Action("Echart", "Chart") key="t-e-charts">E charts</a></li>
                        <li><a href=@Url.Action("Chartjs", "Chart") key="t-chartjs-chart">Chartjs Chart</a></li>
                        <li><a href=@Url.Action("Flot", "Chart") key="t-flot-chart">Flot Chart</a></li>
                        <li><a href=@Url.Action("ChartTui", "Chart") key="t-ui-chart">Toast UI Chart</a></li>
                        <li><a href=@Url.Action("Knob", "Chart") key="t-knob-chart">Jquery Knob Chart</a></li>
                        <li><a href=@Url.Action("Sparkline", "Chart") key="t-sparkline-chart">Sparkline Chart</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-aperture"></i>
                        <span key="t-icons">Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("IconBoxicons", "Icon") key="t-boxicons">Boxicons</a></li>
                        <li><a href=@Url.Action("IconMaterialDesign", "Icon") key="t-material-design">Material Design</a></li>
                        <li><a href=@Url.Action("IconDripicons", "Icon") key="t-dripicons">Dripicons</a></li>
                        <li><a href=@Url.Action("IconFontAwesome", "Icon") key="t-font-awesome">Font awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-map"></i>
                        <span key="t-maps">Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href=@Url.Action("MapGoogle", "Maps") key="t-g-maps">Google Maps</a></li>
                        <li><a href=@Url.Action("MapVector", "Maps") key="t-v-maps">Vector Maps</a></li>
                        <li><a href=@Url.Action("MapLeaflet", "Maps") key="t-l-maps">Leaflet Maps</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span key="t-multi-level">Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1-1">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2-1">Level 2.1</a></li>
                                <li><a href="javascript: void(0);" key="t-level-2-2">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->

    </div>
</div>
<!-- Left Sidebar End -->


