
<meta charset="utf-8" />
<title>@ViewBag.Title | Innove's Facility Management Software</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Facility Management - Maintenance Module" name="description" />
@*<meta content="Themesbrand" name="author" />*@
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">