@using API.Enums
@model API.Models.Task
@{
    ViewData["Title"] = "Edit Task";
    var UserId = ViewBag.UserId;
}
<h1><english>Edit Work Order</english><arabic class="d-none">تعديل المهمة</arabic></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <english>
            <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<TaskType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<API.Enums.TaskStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<Priority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Fixing Time</label>
                <input asp-for="FixingTime" class="form-control" />
                <span asp-validation-for="FixingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Created By ID</label>
                <input asp-for="CreatedById" class="form-control-plaintext shadow-none" readonly />
                @if(Model.CreatedBy.Type==UserType.AccountManager)
                {
                    <img src="~/Photos/AccountManager.png" width ="20" hight="20" alt="Details">
                }
                @if(Model.CreatedBy.Type==UserType.Owner)
                {
                    <img src="~/Photos/Owner.png" width ="30" hight="30" alt="Details">
                }
                @if(Model.CreatedBy.Type== UserType.Manager)
                {
                    <img src="~/Photos/Manager.png" width ="30" hight="30" alt="Details">
                }
                @if(Model.CreatedBy.Type== UserType.Supervisor)
                {
                    <img src="~/Photos/Supervisor.png" width ="30" hight="30" alt="Details">
                }
                @if(Model.CreatedBy.Type== UserType.Inspector)
                {
                    <img src="~/Photos/Inspector.png" width ="30" hight="30" alt="Details">
                }
                @if(Model.CreatedBy.Type== UserType.Agent)
                {
                    <img src="~/Photos/Agent.png" width ="25" hight="25" alt="Details">
                }
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label  class="control-label">Assigned By ID</label>
                <input asp-for="AssignedById" class="form-control-plaintext shadow-none" readonly />
                    @if(Model.AssignedBy.Type==UserType.AccountManager)
                    {
                        <img src="~/Photos/AccountManager.png" width ="20" hight="20" alt="Details">
                    }
                    @if(Model.AssignedBy.Type==UserType.Owner)
                    {
                        <img src="~/Photos/Owner.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedBy.Type== UserType.Manager)
                    {
                        <img src="~/Photos/Manager.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedBy.Type== UserType.Supervisor)
                    {
                        <img src="~/Photos/Supervisor.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedBy.Type== UserType.Inspector)
                    {
                        <img src="~/Photos/Inspector.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedBy.Type== UserType.Agent)
                    {
                        <img src="~/Photos/Agent.png" width ="25" hight="25" alt="Details">
                    }
                <span asp-validation-for="AssignedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Assigned To ID</label>
                <input asp-for="AssignedToId" class="form-control-plaintext shadow-none" readonly/>
                    @if(Model.AssignedTo.Type==UserType.AccountManager)
                    {
                        <img src="~/Photos/AccountManager.png" width ="20" hight="20" alt="Details">
                    }
                    @if(Model.AssignedTo.Type==UserType.Owner)
                    {
                        <img src="~/Photos/Owner.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedTo.Type== UserType.Manager)
                    {
                        <img src="~/Photos/Manager.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedTo.Type== UserType.Supervisor)
                    {
                        <img src="~/Photos/Supervisor.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedTo.Type== UserType.Inspector)
                    {
                        <img src="~/Photos/Inspector.png" width ="30" hight="30" alt="Details">
                    }
                    @if(Model.AssignedTo.Type== UserType.Agent)
                    {
                        <img src="~/Photos/Agent.png" width ="25" hight="25" alt="Details">
                    }
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Incident ID</label>
                <input asp-for="IncidentId" class="form-control-plaintext shadow-none" readonly/>
                <span asp-validation-for="IncidentId" class="text-danger"></span>
            </div>
            <div>
             <label asp-for="Comment" class="control-label"></label>
              <input asp-for="Comment" class="form-control" />
              <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary waves-effect" />
                <a asp-action="TaskList" class="btn btn-success waves-effect">Back to List</a>
            </div>
        </form>
        </english>
        <arabic class="d-none">
            <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label  class="control-label">النوع</label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<TaskType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">التوصيف</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">الحالة</label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<API.Enums.TaskStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">الأهمية</label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<Priority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">التكلفة</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">وقت الإصلاح</label>
                <input asp-for="FixingTime" class="form-control" />
                <span asp-validation-for="FixingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">أنشئت من قبل</label>
                <input asp-for="CreatedById" class="form-control-plaintext shadow-none" readonly />
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label  class="control-label">عينت من قبل</label>
                <input asp-for="AssignedById" class="form-control-plaintext shadow-none" readonly />
                <span asp-validation-for="AssignedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">عينت إلى</label>
                <input asp-for="AssignedToId" class="form-control-plaintext shadow-none" readonly/>
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label  class="control-label">كود الحادثة</label>
                <input asp-for="IncidentId" class="form-control-plaintext shadow-none" readonly/>
                <span asp-validation-for="IncidentId" class="text-danger"></span>
            </div>
            <div>
             <label  class="control-label">الملاحظات</label>
              <input asp-for="Comment" class="form-control" />
              <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="التأكيد" class="btn btn-primary waves-effect" />
                <a asp-action="TaskList" class="btn btn-success waves-effect">العودة إلى القائمة</a>
            </div>
        </form>
        </arabic>
        
    </div>
    <div class="m-auto col-sm-4 mw-100">
        <img src="~/assets/images/Edit-Work-Order.jpg" class="rounded mx-auto d-block" alt="Details">
    </div>
</div>
                 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}    
@*
 <form asp-controller="Account" asp-action="Login" method="post">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@ @*we add this line after the form tag*@ 

@* <span asp-validation-for="Comment" class="text-danger"></span>*@ @*we add this line after the input tag*@ 
@*<english>Welcome Back !</english><arabic class="d-none">مرحبا !</arabic>*@
