
@{
    ViewBag.Title = "Viewer";
}
@using System.Configuration
@using API.Models
@model Dictionary<int, Facility_Management_CEI.Controllers.ViewerParameter>
<h1 class="text-center text-uppercase font-weight-bold mb-5" style="font-size: 2.8rem;">Task Viewer Dashboard</h1>

<head>
    <title>View as Agent</title>
    <script src="../Scripts/XBIM/xbim-viewer.debug.bundle.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube-shaders.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube-textures.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationHome/xbim-navigation-home-textures.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationHome/xbim-navigation-home.debug.js"></script>
    
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    
    <link href="~/assets/libs/datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >
@*    <link href="~/assets/libs/datatables.net/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" >*@

</head>
<body>
    <div class="row">
        <div class="col-5">
            <h3 class="text-center font-weight-bold">Subordinates</h3>
            <div>
                <div class="shadow-sm p-3 mb-4 bg-white rounded tab-pane" id="AgentsDiv">
                    <table id="AgentsTable" class="w-100 table table-striped table-hover mb-3">
                        <thead>
                            <tr class="sticky-top">
                                <th>User ID</th>
                                <th>Name</th>
                                <th>User Details</th>
                                <th>Load Tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Agent in ViewBag.Agents)
                            {
                                <tr>
                                    <th>@Agent.Id</th>
                                    <td>@Agent.FirstName @Agent.LastName</td>
                                    <td><button class="btn btn-info waves-effect waves-light">User Details</button></td>
                                    <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeData(@Agent.Id)">Show Tasks</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="text-center font-weight-bold" id="BottomTableHeading">All Tasks</h3>
            @await Html.PartialAsync("~/Views/Viewer/ViewerTasksPartial.cshtml")
        </div>
        <div class="col-7">
        
            @await Html.PartialAsync("~/Views/Viewer/ViewerCanvasPartial.cshtml", Model)
        
        </div>

    </div>

</body>