
@{
    ViewBag.Title = "Building Viewer";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@using System.Configuration
@using API.Models
@model Dictionary<int, Facility_Management_CEI.Controllers.ViewerParameter>

<h1 class="text-center text-uppercase font-weight-bold mb-5">
    <english>Task Viewer Dashboard</english>
    <arabic class="d-none">لوحة متابعة المهام</arabic>
</h1>

<head>
    <title>
        <english>Building Viewer as Inspector</english>
        <arabic class="d-none">عرض المبنى كمفتش</arabic>
    </title>

@await Html.PartialAsync("~/Views/Viewer/ViewerScriptsPartial.cshtml")

</head>
<body>
    @if(ViewContext.HttpContext.User.IsInRole("SystemAdmin"))
    {
        <label for="UserId"><english>Please Type in a User Id: </english><arabic class="d-none">الرجاء ادخال كود المستخدم: </arabic></label>
        <div class="input-group mb-3">
            <input class="form-control w-50" type="number" id="UserId">
            <div class="input-group-append">
                <button onclick="location.href='/Viewer/ViewerAsInspector/'+document.getElementById('UserId').value" class="btn btn-success waves-effect waves-light"><english>Go to User View</english><arabic class="d-none">انتقل إلى عرض المستخدم</arabic></button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-5">
            <h3 class="text-center font-weight-bold">
                <english>Subordinates</english>
                <arabic class="d-none">الموظفون تحت الإشراف</arabic>
            </h3>
            <div>
                <div class="shadow-sm p-3 mb-4 bg-white rounded tab-pane" id="AgentsDiv">
                    <table id="AgentsTable" class="w-100 table table-striped table-hover mb-3">
                        <thead>
                            <tr>
                                <th>
                                    <english> User ID</english>
                                    <arabic class="d-none">كود المستخدم</arabic>
                                </th>
                                <th>
                                    <english> Name</english>
                                    <arabic class="d-none">الاسم</arabic>
                                </th>
                                <th>
                                    <english>User Details</english>
                                    <arabic class="d-none">تفاصيل المستخدم</arabic>
                                </th>
                                <th>
                                    <english> Load Tasks</english>
                                    <arabic class="d-none">تحميل المهام</arabic>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Agent in ViewBag.Agents)
                            {
                                <tr>
                                    <th>@Agent.Id</th>
                                    <td>@Agent.FirstName @Agent.LastName</td>
                                    <td><button class="btn btn-info waves-effect waves-light"> 
                                            <english>User Details</english>
                                            <arabic class="d-none">تفاصيل المستخدم</arabic>
                                        </button>
                                    </td>
                                    <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeData(@Agent.Id)"> 
                                            <english>Show Tasks</english>
                                            <arabic class="d-none">إظهار المهام</arabic>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="text-center font-weight-bold" id="BottomTableHeading">
                        <english>All Tasks</english>
                        <arabic class="d-none">كل المهام</arabic>
            </h3>
            @await Html.PartialAsync("~/Views/Viewer/ViewerTasksPartial.cshtml")
        </div>
        <div class="col-7">
        
            @await Html.PartialAsync("~/Views/Viewer/ViewerCanvasPartial.cshtml", Model)
        
        </div>

    </div>

</body>