
@{
    ViewBag.Title = "Uploader";
}

<h2>Uploader</h2>

@using (Html.BeginForm("Uploader", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" accept=".ifc" />

    <input type="submit" />
    <span>@ViewBag.Message</span>
}