
@{
    ViewBag.Title = "Uploader";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2>Uploader</h2>

@using (Html.BeginForm("Uploader", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" accept=".ifc" />

    <input type="submit" />
    <span>@ViewBag.Message</span>
}

    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/js/lang/jquery.multiLanguage.js"></script>

    <script src="~/assets/js/app.js"></script>
